[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

EnvironmentFile=/etc/docker/compose/%i/production.env
WorkingDirectory=/etc/docker/compose/%i

ExecStartPre=/etc/docker/compose/%i/manage.sh start
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
ExecStopPost=/etc/docker/compose/%i/manage.sh stop

[Install]
WantedBy=multi-user.target

